<!-- Stat main -->
<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- Start Banner Section -->
  <section class="demo_1 banner_section banner_demo7">
    <div class="container">
      <div class="row">
        <div class="col-md-5 my-auto">
          <div class="banner_title">
            <h1>Sorprende a quien amas día a día.</h1>
            <p>
              Solo hay una felicidad en esta vida, amar y ser amado.
            </p>
            <a href="#" class="btn btn_md_primary effect-letter rounded-8 bg-blue c-white">Probar ahora</a>
            <div class="margin-t-8">
              <button type="button" class="btn btn_video" data-toggle="modal"
                data-src="https://www.youtube.com/embed/VvHoHw5AWTk" data-target="#mdllVideo">
                <div class="scale rounded-circle play_video">
                  <i class="tio play_outlined"></i>
                </div>
                <span class="ml-3 font-s-16 c-dark">Ver video</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <img class="ill_05" src="../../assets/img/banner_1.svg" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner -->
  <!-- Start About -->
  <section class="abo_company">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 emo mb-4 mb-lg-0">
          <div class="gq_item bg-pink">
            <span class="d-block c-white font-s-16">Khuyay - Perú 🇵🇪</span>
            <div class="title_sections">
              <img class="mb-3" src="../../assets/img/gif/waving_hand.gif" width="60" />
              <h2 class="c-white">Donde te encuentres</h2>
              <p class="c-white">
                Interactúa con tu persona favorita, en cualquier momento,
                desde el lugar en donde te encuentres, no habrá un solo día
                en el que no puedas dedicarle tu amor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 emo mb-4 mb-lg-0">
          <div class="gq_item ill_item">
            <span class="d-block c-dark font-s-16">Para ella 👸🏻</span>
            <img class="img-fluid ill_sec" src="../../assets/img/girl.svg" />
            <div class="title_sections">
              <h2 class="c-dark">Sorprendela día a día</h2>
              <p class="c-gray">
                Blandit libero volutpat sed cras ornare arcu dui vivamus
                arcu.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 emo">
          <div class="gq_item ill_item">
            <span class="d-block c-dark font-s-16">Para el 🤴🏻</span>
            <img class="img-fluid ill_sec" src="../../assets/img/guy.svg" />
            <div class="title_sections">
              <h2 class="c-dark">Sorprendelo día a día</h2>
              <p class="c-gray">
                Blandit libero volutpat sed cras ornare arcu dui vivamus
                arcu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End. About -->
  <!-- Start Services -->
  <section class="products_section product_demo2 features_hosting service_demo3 margin-t-8 padding-t-10"
    id="Services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 margin-b-3">
          <div class="title_sections mb-0">
            <div class="before_title">
              <span>Who We</span>
              <span class="c-blue">Help</span>
            </div>
            <h2>Specific challenges require specific solutions</h2>
            <p>
              Some of the industries our digital agency specialises in
            </p>
          </div>
        </div>
        <div class="col-lg-7 ml-sm-auto">
          <div class="row">
            <div class="col-md-6 item pr-sm-5 mb-3 mb-sm-5">
              <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                <div class="icon_t">
                  <img src="../../assets/img/icons/Employee.svg" />
                </div>
                <h3>Employee Owned</h3>
                <p>
                  Being employee-owned keeps us focused on the unique
                  needs of our users, and we wouldn't have it any other
                  way.
                </p>
              </div>
            </div>
            <div class="col-md-6 item pr-sm-5 mb-3 mb-sm-5">
              <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                <div class="icon_t">
                  <img src="../../assets/img/icons/Binocular.svg" />
                </div>
                <h3>Passion for Privacy</h3>
                <p>
                  We believe in everyone's right to privacy, and we back
                  that with a strong anti-spam policy and free WHOIS
                  privacy.
                </p>
              </div>
            </div>
            <div class="col-md-6 item pr-sm-5 mb-3 mb-sm-5">
              <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                <div class="icon_t">
                  <img src="../../assets/img/icons/Shield-check.svg" />
                </div>
                <h3>Commitment to Security</h3>
                <p>
                  Our many security features include Multi Factor
                  Authentication, auto-enabled sFTP .
                </p>
              </div>
            </div>
            <div class="col-md-6 item pr-sm-5">
              <div class="item_pro" data-aos="fade-up" data-aos-delay="300">
                <div class="icon_t">
                  <img src="../../assets/img/icons/Door-open.svg" />
                </div>
                <h3>Embrace Open Source</h3>
                <p>
                  We strongly believe in providing open source solutions
                  to our customers whenever possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </section>
  <!-- End. Services -->
  <!-- Start Agency About -->
  <section class="about_agency padding-t-12" id="About">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="title_sections mb-0">
            <div class="before_title">
              <span>Digital Agency</span>
              <span class="c-blue">People</span>
            </div>
            <h2>The brightest minds in digital, at your service 👋</h2>
            <p>
              Coinbase has a variety of features that make it the best
              place to start trading
            </p>
            <p>
              You’re unique. A one-off. A fascinating work in progress.
              Your life isn’t off-the-shelf. So should your home be?
            </p>
            <p>
              We say no. It’s why you can change the size, colours and
              materials of nearly every design. And we’re here to help
              you style your home, your way. And although styling advice
              is always free in our stores, this month, you can enjoy
              the full in-home experience at no cost.
            </p>
            <p>
              Live a life as individual as you are. Live ekstraordinær.
            </p>
            <img class="inside_pic" src="../../assets/img/agency/98701.jpg" />
          </div>
        </div>
        <div class="col-lg-5 ml-auto">
          <div class="pro_agency">
            <img src="../../assets/img/agency/0976401.jpg" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Edn. Agency About -->
</main>
<!-- end main -->