<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- Start banner_about -->
  <section class="pt_banner_inner">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <div class="banner_title_inner margin-b-10">
            {{> message}}
            <h1 data-aos="fade-up" data-aos-delay="0">
              Bienvenido {{user.firstname}} {{user.lastname}}
            </h1>
            <a href="/links" class="btn btn_sm_primary scale bg-blue c-white rounded-8">Save your links</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner_about -->
</main>