{{#if user}}
<!-- footr -->
<footer class="defalut-footer foot_demo3 light margin-t-12 padding-py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="item_about">
          <a class="logo" href="agency.html">
            <img src="../../assets/img/Logo.png" alt="" />
          </a>
          <p>
            Khuyay es una plataforma donde podrás encontrar los
            mejores detalles hacia la persona que amas.
          </p>
          <div class="address">
            <span>Cerro de Pasco, Perú</span>
            <span>Atención al cliente: <a href="tel:089569599">+51 808-956-959</a></span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-2">
        <div class="item_links">
          <a class="nav-link" href="">Inicio</a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-2">
        <div class="item_links">
          <a class="nav-link" href="">Links</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="item_subscribe">
          <h4>Suscribir</h4>
          <p>
            Suscríbase para recibir las últimas <br>
            noticias de nosotros
          </p>
          <form class="form-row">
            <div class="col-md-11 form-group subscribebtn">
              <div class="item_input">
                <input type="email" class="form-control rounded-8" id="exampleInputEmail1"
                  placeholder="Ingresar correo electronico" aria-describedby="emailHelp" />
                <button type="button" class="btn ripple_circle scale rounded-8 btn_subscribe">
                  <i class="tio send"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 text-center padding-t-4">
      <div class="copyright">
        <span>© 2021
          <a href="/" target="_blank">Khuyay.</a>
          Todos los derechos reservados</span>
      </div>
    </div>
  </div>
</footer>
<!-- End. -->
{{/if}}