<!-- Stat main -->
<main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <!-- Start banner_about -->
  <section class="pt_banner_inner">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <div class="banner_title_inner margin-b-10">
            <h1 data-aos="fade-up" data-aos-delay="0">
              Counter
            </h1>
            <div class="ui_item_dir" data-aos="fade-up" data-aos-delay="100">
              <a class="active" href="countdown.html">ltr</a>
              <a href="../../html-rtl/elements/countdown.html">RTL</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End banner_about -->

  <!-- Start Banner Section -->
  <section class="banner_section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="title_sections_inner margin-b-5">
            <h2>Default Style</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center text-center">
        <div class="col-md-10 col-lg-6">
          <div class="Countdown-timer">
            <div countdown data-date="Feb 15 2022 23:59:59">
              <div class="item">
                <span data-days>0</span>
                <p>days</p>
              </div>
              <span class="cuot">:</span>
              <div class="item">
                <span data-hours>0</span>
                <p>hours</p>
              </div>
              <span class="cuot">:</span>
              <div class="item">
                <span data-minutes>0</span>
                <p>minutes</p>
              </div>
              <span class="cuot">:</span>
              <div class="item">
                <span data-seconds>0</span>
                <p>seconds</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Banner -->
</main>